body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 70px;
}

h2 {
    margin: 5px 0;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.captcha-box {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#captchaText {
    background: #003366;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
}

#refreshCaptcha {
    margin-left: 10px;
    padding: 8px;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #003366;
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #002244;
}